
@{
    ViewBag.Title = "NotAuthorize";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup>
    <h1 class="text-danger">Not Authorize.</h1>
    <h2 class="text-danger">You don't have permission to access this page ...</h2>
</hgroup>